.education__body {
  position: relative;
  padding-top: 130px;
  background: linear-gradient(212.69deg, #323E51 4.9%, #1D2532 55.16%);
  border-radius: 20px;
  margin-bottom: 59px;
}

.education__title {
  text-align: center;
  font-weight: 600;
  font-size: 45px;
  line-height: 1.3; 
  padding-bottom: 65px;
}

.education__title::before {
  content: '';
  position: absolute;
  display: block;
  width: 86px;
  height: 86px;
  background-image: url('../assets/icons/planet_left.png');
  transform: rotate(7.77deg);
  left: 140px;
  top: 150px;
}

.education__title::after {
  content: '';
  position: absolute;
  display: block;
  width: 152px;
  height: 152px;
  background-image: url('../assets/icons/purple_spark.png');
  transform: rotate(7.77deg);
  left: 1003px;
  top: -82px;
}



.education__list {
    display: grid;
    max-width: 650px;
    padding-left: 320px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-bottom: 130px;
};

.education__image {
 
}

.education__item {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  padding-top: 45px;
  padding-bottom: 45px;
  align-items: center;
  text-align: center;
  width: 300px;
  background: rgba(51, 62, 81, 0.7);
  border-radius: 20px;
  z-index: 125;
  cursor: pointer;
}

.education__text {
  max-width: 262px;
  text-align: center;
  padding-top: 23px;
}

.spark {
  position: absolute;
  background: linear-gradient(170.98deg, rgba(95, 56, 255, 0.25) 25.59%, rgba(255, 14, 222, 0.25) 100.44%);
  filter: blur(86px);
  transform: rotate(11.97deg);
  width: 440px;
  height: 440px;
  left: -310px;
  bottom: -154px;
  z-index: 1;
}

.spark__up {
  left: 480px;
  top: -377px;
}

.blur__spark {
  display: block;
  position: absolute;
  right: -67px;
  bottom: -36px;
  width: 132px;
  height: 132px;
  filter: blur(12px);
  transform: rotate(-25.73deg);
}

.education__sublist {
  position: absolute;
  width: 260px;
  height: 268px;
  top: 94px;
  background-color: rgba(51, 62, 81, 0.6);
  border-radius: 20px;
  z-index: -1;
}


@media (max-width: 380px) {
  .education__list {
    padding-left: 0;
    grid-template-columns: 1fr;
  }

  .education__body {
    padding-top: 40px;
  }

  .education__title {
    font-size: 23px;
    text-align: center;
    margin-bottom: 0;
  }

  .education__title::before {
    width: 22px;
    height: 22px;
    display: none;
  }

  .education__title::after {
    display: none;
  }

  .education__item {
    width: 260px;
    padding-left: 30px;
  }

  .blur__spark {
    display: none;
  }

  .spark {
    display: none;
  }
}