.header {
  background-color:  #1D2532;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__blur {
  position: absolute;
  left: 15px;
  width: 415px;
  height: 415px;
  background: linear-gradient(170.98deg, rgba(95, 56, 255, 0.35) 25.59%, rgba(255, 14, 222, 0.35) 100.44%);
  filter: blur(86px);
  transform: rotate(11.97deg);
}

.header__list {
  display: flex;
}

.header__link {
  font-size: 23px;
  line-height: 1.2;
  color: #CECECE;
  margin-left: 105px;
}

.header__link:last-child {
  margin-right: 0;
}

.header__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 16px 22px;
  border-radius: 15px;
}

@media (max-width: 380px) {
  .container {
    max-width: 380px;
    padding: 16px;
  }
  .header {
    padding-top: 20px;
    padding-bottom: 0;
  }
  .header__list, .header__button {
    display: none;
  }
  .header__blur {
    display: none;
  }
  .header-logo {
    width: 89px;
  }
  .header__button {
    width: 277px;
  }
}