.hero {
  background-color:  #1D2532;
  overflow: hidden;
  margin-bottom: 241px;
}

.hero__body {
  position: relative;
  display: flex;
  margin-bottom: 134px;
}

.hero__title {
  padding-top: 188px;
  max-width: 717px;
  font-size: 72px;
  line-height: 1.05;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}

.hero__title-span {
  font-size: 72px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: -0.03em;
  text-align: left;
  z-index: 10;
  cursor: pointer ;
}

.hero__subtitle {
  max-width: 499px;
  font-size: 23px;
  line-height: 120%;
  color: #CECECE;
  margin-bottom: 67px;
}

.hero__img-item {
  position: absolute;
  z-index: 1;
  background-color:  #1D2532;
  transform: rotate(5.72deg);
}

.hero__btn {
  font-family: 'Walsheim';
  font-weight: 500;
  font-size: 20px;
  padding: 20px 30px;
  background: linear-gradient(92.84deg, #1DD844 1.44%, #CBF62E 126.29%);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

@media (max-width: 380px) {
  .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero {
    margin-bottom: 70px;
  }

  .header__blur {
    width: 278px;
    height: 278px;
  }
  .hero__body {
    flex-direction: column;
    margin-bottom: 0;
  }
  .header__list {
    display: none;
  }
  .hero__text {
    text-align: center;
    line-height: -11;
  }
  .hero__title, .hero__subtitle {
    font-size: 25px;
  }
  .hero__title {
    padding-top: 48px;
    text-align: center;
    margin-bottom: 0;
  }

  .hero__subtitle {
    position: relative;
    top: 344px;
    font-size: 18px;
    text-align: center;
  }

  .hero__title-span {
    display: block;
    margin-top: -18px;
    text-align: center;
    font-size: 25px;
  }

  .hero__btn {
    position: relative;
    top: 345px;
    font-size: 16px;
    margin-bottom: 50px;
    width: 277px;
  }

  .hero__img-item {
    position: relative;
    top: -256px;
  }
}